VITE_APPWRITE_URL="https://cloud.appwrite.io/v1"
VITE_APPWRITE_PROJECT_ID="662e1239002e8905b703"
VITE_APPWRITE_DATABASE_ID="662f04a0001c19af97ef"
VITE_APPWRITE_COLLECTION_ID="662f04ed003d73319c7d"
VITE_APPWRITE_BUCKET_ID="662f0f430005e9951e38"
